<app-user-navigation></app-user-navigation>
<br><br><br>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <table>
    <tr>
      <td colspan="2" align="center">
        <h2>Update profile</h2>
      </td>
    </tr>
    <tr>
      <td>
        Email:
      </td>
      <td>
        <input type="email" formControlName="email" required email>
      </td>
    </tr>
    <tr>
      <td>
        First Name:
      </td>
      <td>
        <input type="text" formControlName="firstName" required>
      </td>
    </tr>
    <tr>
      <td>
        Last Name:
      </td>
      <td>
        <input type="text" formControlName="lastName" required>
      </td>
    </tr>
    <tr>
      <td>
        Birth Date:
      </td>
      <td>
        <input type="date" formControlName="birthDate" required>
      </td>
    </tr>
    <tr>
      <td>
        Address:
      </td>
      <td>
        <input type="text" formControlName="address" required>
      </td>
    </tr>
    <tr>
      <td colspan="2" align="right">
        <button type="submit" class="btn btn-default" [disabled]="profileForm.invalid">Update</button>
      </td>
    </tr>
  </table>
</form>

<br><br>
<form [formGroup]="passwordForm" (ngSubmit)="onChangePassword()">
  <table>
    <tr>
      <td colspan="2">
        <h2>Change password</h2>
      </td>
    </tr>
    <tr>
      <td>
        Old Password:
      </td>
      <td>
        <input type="password" formControlName="oldPassword" required>
      </td>
    </tr>
    <tr>
    <tr>
      <td>
        New Password:
      </td>
      <td>
        <input type="password" formControlName="newPassword" required>
      </td>
    </tr>
    <tr>
      <td>
        Confirm Password:
      </td>
      <td>
        <input type="password" formControlName="confirmPassword" required>
      </td>
    </tr>
    <tr>
      <td colspan="2" align="right">
        <button type="submit" class="btn btn-default" [disabled]="passwordForm.invalid">Change password</button>
      </td>
    </tr>
  </table>
</form>

<br>
<table>
  <tr>
    <td colspan="2" align="center">
      <h2>User documents</h2>
      <h4 *ngIf="documents.length > 0">Double-click on image to delete it</h4>
    </td>
  </tr>
  <tr *ngIf="documents.length > 0">
    <td colspan="2" align="center">
      <div id="carousel">
        <div class="slide" *ngFor="let document of documents" (dblclick)="onImgClick($event.target)">
          <img [src]=document />
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="center" *ngIf="documents.length == 0">
      <h4>No documents uploaded</h4>
    </td>
  </tr>
</table>

<br>
<table>
  <tr>
    <td colspan="2" align="center">
      <h2>Please select document image</h2>
    </td>
  </tr>
  <tr *ngIf="url">
    <td colspan="2" align="center">
      <img [src]="url" height="200">
    </td>
  </tr>
  <tr>
    <td colspan="2" align="right">
      <input type="file" id="selectedFile" style="display: none;" (change)="onSelectFile($event)" accept="image/*" />
      <button class="btn btn-default" onclick="document.getElementById('selectedFile').click();">Browse...</button>
      &nbsp;
      <button class="btn btn-default" (click)="onUpload()">Upload</button>
    </td>
  </tr>
</table>