<div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <table>
      <tr>
        <td>
          <label>Line number: </label>
        </td>
        <td>
          <input type="number" formControlName="number" min ='1'>
        </td>
      </tr>
      <tr>
      <tr>
        <td>
          <label formArrayName="sNames" *ngFor="let name of form.controls.sNames.controls; let i = index">
            <input type="checkbox" [formControlName]="i">
            {{sNames[i]}}
            <br>
          </label>
        </td>
      </tr>
      <tr>
        <td colspan="2" align="right">
            <button type="submit">Add Driveline</button>
        </td>
      </tr>
    </table>
  </form>
  
</div>
