<!-- Kreiramo mapu -->
<agm-map [latitude]="45.242268" [longitude]="19.842954" [zoom]="18" > <!-- (mapClick)="placeMarker($event)"" -->

  <agm-marker *ngFor="let markerInfo of markerInfos" [latitude]="markerInfo.location.lat" [longitude]="markerInfo.location.lng" [title]="markerInfo.title"
  [label]="markerInfo.label" [iconUrl]="markerInfo.iconUrl" >

    <!-- Svakom markeru dodajemo info-window (Nije obavezno!)-->
    <agm-info-window [latitude]="markerInfo.location.lat" [longitude]="markerInfo.location.lng">

      <!-- U info-window stavljamo html -->
      <span style="font-size: 16px;font-family:'Times New Roman'">{{markerInfo.title}}</span>
      <br/>
      <span style="font-family:'Times New Roman'; color:gray;"><strong>{{markerInfo.label}}</strong></span>

    </agm-info-window>
  </agm-marker>

  <!-- <div *ngIf="selectedLineNumber">
    <agm-direction  *ngFor="let line of lines" [renderOptions]="options"  [origin]= "line.origin" [destination]="line.destination" [panel]="#myPanel" >
  
    </agm-direction>
  </div> -->
  
  <agm-direction *ngIf="busline" [renderOptions]="options" [origin]= "busline.origin" [destination]="busline.destination" [waypoints]="busline.waypoints" [panel]="myPanel" >
  
  </agm-direction>

  <div *ngIf = "showBusses">
    <agm-marker *ngFor="let bussMarker of bussMarkers" [latitude]="bussMarker.location.lat" [longitude]="bussMarker.location.lng" [title]="bussMarker.title"
    [label]="bussMarker.label" [iconUrl]="bussMarker.iconUrl">
    
    </agm-marker>
  </div>

</agm-map>

<button (click) = "sendRoutesToBack()">Show Busess</button>

