<br><br><br>
<form [formGroup]="addForm" (ngSubmit)="onSubmit()">
  <table>
    <tr>
      <td colspan="2" align="center">
        <h2>Add driving plan</h2>
      </td>
    </tr>
    <tr>
      <td>
        <label>Plan type: </label>
      </td>
      <td>
        <select formControlName="type">
          <option *ngFor="let type of driveType" [value]="type">{{type}}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>
        Day:
      </td>
      <select formControlName="day">
        <option *ngFor="let day of days" [value]="day">{{day}}</option>
      </select>
    </tr>
    <tr>
      <td>
        Line:
      </td>
      <td>
        <select formControlName="number">
          <option *ngFor="let number of drivelineNumber" [value]="number">{{number}}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td colspan="2" align="center">
        TIMETABLE
        <div *ngFor="let time of departures">{{time}}</div>
      </td>
    </tr>
    <tr>
      <td colspan="2" align="right">
        <button type="submit" class="btn btn-default" [disabled]="addForm.invalid">Add</button>
      </td>
    </tr>
  </table>
</form>
<br>
<form [formGroup]="addDepartureForm" (ngSubmit)="addDeparture()">
  <table>
    <tr>
      <td>
        New departure:
      </td>
      <td>
        <input type="time" formControlName="time" required>
      </td>
    </tr>
    <tr>
      <td colspan="2" align="right">
        <button type="submit" class="btn btn-default" [disabled]="addDepartureForm.invalid">Add</button>
      </td>
    </tr>
  </table>
</form>