<br><br><br>
<form [formGroup]="deleteForm" (ngSubmit)="onSubmit()">
  <table>
    <tr>
      <td colspan="2" align="center">
        <h2>Delete pricelist</h2>
      </td>
    </tr>
    <tr>
      <td colspan="2" align="left">
        <div class="nowrap" *ngFor="let pricelist of pricelists">Id: {{pricelist.PricelistId}}; Valid from: {{pricelist.ValidFrom.split("T")[0]}}; Valid until: {{pricelist.ValidUntil.split("T")[0]}};</div>
      </td>
    </tr>
    <tr>
      <td>
        Delete pricelist (id):
      </td>
      <td align="right">
        <input type="text" formControlName="id" required>
      </td>
    </tr>
    <tr>
      <td colspan="2" align="right">
        <button type="submit" class="btn btn-default" [disabled]="deleteForm.invalid">Delete</button>
      </td>
    </tr>
  </table>
</form>