<br><br><br>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <table>
    <tr>
      <td colspan="2" align="center">
        <h2>Register</h2>
      </td>
    </tr>
    <tr>
      <td>
        Email:
      </td>
      <td>
        <input type="email" formControlName="email" required email>
      </td>
    </tr>
    <tr>
      <td>
        Password:
      </td>
      <td>
        <input type="password" formControlName="password" required>
      </td>
    </tr>
    <tr>
      <td>
        Confirm Password:
      </td>
      <td>
        <input type="password" formControlName="confirmPassword" required>
        <br />
        <font *ngIf="invalidPass" color="red" size="2">
        Passwords must be equal
        </font>
      </td>
    </tr>
    <tr>
      <td>
        First Name:
      </td>
      <td>
        <input type="text" formControlName="firstName" required>
      </td>
    </tr>
    <tr>
      <td>
        Last Name:
      </td>
      <td>
        <input type="text" formControlName="lastName" required>
      </td>
    </tr>
    <tr>
      <td>
        Birth Date:
      </td>
      <td>
        <input type="date" formControlName="birthDate" required>
      </td>
    </tr>
    <tr>
      <td>
        Address:
      </td>
      <td>
        <input type="text" formControlName="address" required>
      </td>
    </tr>
    <tr>
      <td>
        Passenger type:
      </td>
      <td>
        <select formControlName="passengerType">
          <option *ngFor="let passengerType of passengerTypes" [value]="passengerType">{{passengerType}}</option> 
      </select>
      </td>
    </tr>
    <tr>
      <td colspan="2" align="right">
        <button type="submit" class="btn btn-default" [disabled]="registerForm.invalid">Register</button>
      </td>
    </tr>
  </table>
</form>