<br><br><br>
<form [formGroup]="addForm" (ngSubmit)="onSubmit()">
  <table>
    <tr>
      <td colspan="2" align="center">
        <h2>Add pricelist</h2>
      </td>
    </tr>
    <tr>
      <td>
        Valid from:
      </td>
      <td>
        <input type="date" formControlName="validFrom" required>
      </td>
    </tr>
    <tr>
      <td>
        Valid until:
      </td>
      <td>
        <input type="date" formControlName="validUntil" required>
      </td>
    </tr>
    <tr>
      <td colspan="2" align="center">
        Prices:
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="nowrap" *ngFor="let item of pricelistItems">{{item.passengerType}} + {{item.ticketType}} =
          {{item.price}} </div>
      </td>
    </tr>
    <tr>
      <td colspan="2" align="right">
        <button type="submit" class="btn btn-default" [disabled]="addForm.invalid">Add</button>
      </td>
    </tr>
  </table>
</form>
<br>
<form [formGroup]="pricelistItemsForm" (ngSubmit)="savePrices()">
  <table>
    <tr>
      <td colspan="3">
        Prices:
      </td>
    </tr>

    <tr>
      <td>
        {{passengerType[0]}}:
      </td>
      <td>
        {{ticketType[0]}}
      </td>
      <td>
        <input type="text" formControlName="price0" required>
      </td>
    </tr>
    <tr>
      <td>
        {{passengerType[0]}}:
      </td>
      <td>
        {{ticketType[1]}}
      </td>
      <td>
        <input type="text" formControlName="price1" required>
      </td>
    </tr>
    <tr>
      <td>
        {{passengerType[0]}}:
      </td>
      <td>
        {{ticketType[2]}}
      </td>
      <td>
        <input type="text" formControlName="price2" required>
      </td>
    </tr>
    <tr>
      <td>
        {{passengerType[0]}}:
      </td>
      <td>
        {{ticketType[3]}}
      </td>
      <td>
        <input type="text" formControlName="price3" required>
      </td>
    </tr>

    <tr>
      <td>
        {{passengerType[1]}}:
      </td>
      <td>
        {{ticketType[0]}}
      </td>
      <td>
        <input type="text" formControlName="price4" required>
      </td>
    </tr>
    <tr>
      <td>
        {{passengerType[1]}}:
      </td>
      <td>
        {{ticketType[1]}}
      </td>
      <td>
        <input type="text" formControlName="price5" required>
      </td>
    </tr>
    <tr>
      <td>
        {{passengerType[1]}}:
      </td>
      <td>
        {{ticketType[2]}}
      </td>
      <td>
        <input type="text" formControlName="price6" required>
      </td>
    </tr>
    <tr>
      <td>
        {{passengerType[1]}}:
      </td>
      <td>
        {{ticketType[3]}}
      </td>
      <td>
        <input type="text" formControlName="price7" required>
      </td>
    </tr>

    <tr>
      <td>
        {{passengerType[2]}}:
      </td>
      <td>
        {{ticketType[0]}}
      </td>
      <td>
        <input type="text" formControlName="price8" required>
      </td>
    </tr>
    <tr>
      <td>
        {{passengerType[2]}}:
      </td>
      <td>
        {{ticketType[1]}}
      </td>
      <td>
        <input type="text" formControlName="price9" required>
      </td>
    </tr>
    <tr>
      <td>
        {{passengerType[2]}}:
      </td>
      <td>
        {{ticketType[2]}}
      </td>
      <td>
        <input type="text" formControlName="price10" required>
      </td>
    </tr>
    <tr>
      <td>
        {{passengerType[2]}}:
      </td>
      <td>
        {{ticketType[3]}}
      </td>
      <td>
        <input type="text" formControlName="price11" required>
      </td>
    </tr>

    <tr>
      <td colspan="2" align="right">
        <button type="submit" class="btn btn-default" [disabled]="pricelistItemsForm.invalid">Save</button>
      </td>
    </tr>
  </table>
</form>