<app-start-page-navigation></app-start-page-navigation>
<br><br><br>
<div>
  <form [formGroup]="DrivingPlanForm" (ngSubmit)="onSubmit()">
    <table>
      <tr>
        <td colspan="2" align="center">
          <h2>Choose ride</h2>
        </td>
      </tr>
      <tr>
        <td>
          <label>Line number: </label>
        </td>
        <td>
          <select formControlName="number">
            <option *ngFor="let number of drivelineNumber" [value]="number">{{number}}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <label>Ride type: </label>
        </td>
        <td>
          <select formControlName="type">
            <option *ngFor="let type of driveType" [value]="type">{{type}}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <label>Day: </label>
        </td>
        <td>
          <select formControlName="day">
            <option *ngFor="let day of days" [value]="day">{{day}}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td colspan="2" align="right">
            <button type="submit" [disabled]="DrivingPlanForm.invalid">Show</button>
        </td>
      </tr>
    </table>
  </form>
</div>
<br />
<br />
<div>
  <h2 align="center">Timetable for selected ride:</h2>
  <ul align="center">
    <li  *ngFor="let date of departures">
      {{date}}
    </li>

  </ul>
</div>
<br />
<br />

<div align = "center">
  <app-map [selectedLineNumber] = "selectedNumber"></app-map>
</div>